.sb-agency-profile-header {
  @include text;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: $column-gap;
  row-gap: $row-gap;

  @include res(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__logo-wrapper {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    place-self: center;

    @include res(mobile) {
      width: 110px;
      height: 110px;
    }
  }

  &__mobile-heading {
    opacity: 0;
  }

  &__logo {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid $grey2;
    place-self: center;

    @include res(mobile) {
      width: 110px;
      height: 110px;
    }
  }

  &__info {
    grid-column: span 7 / span 7;
    text-align: left;
    grid-row: span 2 / span 2;
  }

  h1 {
    @include title;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 16px;

    @include res(mobile) {
      font-size: 20px;
      text-align: center;
    }
  }

  &__subtitle {
    @include subtitle;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;

    @include res(mobile) {
      font-size: 12px;
      row-gap: 8px;
      justify-content: center;
    }

    span {
      // divider
      border-width: 0 1px 0 0;
      border-color: $grey2;
      border-style: solid;
      padding: 0 8px;
      white-space: nowrap;

      &:last-child {
        border-width: 0;
      }
      &:first-child {
        padding-left: 0;
      }

      @include res(mobile) {
        padding: 0 8px;
      }
    }

    &--location {
      text-decoration: underline;
    }
  }

  &__description {
    // truncate on > 3 lines
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-size: 14px;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 4px;
  }

  &__read-more {
    @include link;
    margin-top: 8px;
    color: $grey4;
    font-size: 14px;
    padding: 0;

    @include res(mobile) {
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    grid-column-start: 10;
    grid-column-end: 13;
    width: 100%;
    grid-row: span 1 / span 1;

    @include res(mobile) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: $column-gap-sm;
      margin-top: $row-gap-sm;
    }

    a,
    button,
    .sb-button {
      display: block;
      min-width: 100%;
      margin-bottom: 8px;
      grow: 1;
      font-size: 11px;
      letter-spacing: 0.33px;
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    margin-bottom: $row-gap;
    font-size: 16px;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row: span 1 / span 1;
    text-align: center;

    > * {
      border-width: 0 1px 0 0;
      border-color: $grey2;
      border-style: solid;
      padding: 0 $column-gap-sm;

      &:last-child {
        border-width: 0;
      }
    }

    &--label {
      @include subtitle;
      font-size: 12px;
      color: $grey4;
      white-space: nowrap;
      margin-top: 4px;

      @incluce res(mobile) {
        font-size: 11px;
      }
    }
  }

  &__favourite-link {
    margin-top: 8px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      font-size: 11px;
    }

    svg {
      display: inline-flex;
      width: 20px;
      height: 20px;
    }
  }

  &--scrolled {
    .sb-agency-profile-header__logo-wrapper {
      grid-row: span 1 / span 1;
      display: flex;
      justify-content: start;
      align-items: center;
      grid-column: span 10 / span 10;
      width: 100%;
      gap: 16px;

      .sb-agency-profile-header__mobile-heading {
        @include title;
        font-size: 20px;
        opacity: 1;
      }
    }

    .sb-agency-profile-header__logo {
      width: 48px;
      height: 48px;
      justify-self: start;
    }

    .sb-agency-profile-header__info {
      grid-row: span 1 / span 1;
      display: none;
    }

    .sb-agency-profile-header__actions {
      grid-column: span 2 / span 2;
      grid-column-start: 11;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin-bottom: 0;
      }

      .sb-agency-profile-header__favourite-link {
        display: none;
      }
    }

    .sb-agency-profile-header__stats {
      display: none;
    }
  }
}
