.sb-agency-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-primary-book;
  font-weight: 450;
  text-align: center;
  gap: 1.5rem;
}

/*
|--------------------------------------------------------------------------
| Title
|--------------------------------------------------------------------------
|
|
|
*/

.sb-agency-signup__title {
  font-family: $font-primary-semibold;
  font-size: 1.75rem;
  color: $black;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.0175rem;
  margin: 0;
  padding: 0;
}

/*
|--------------------------------------------------------------------------
| Description
|--------------------------------------------------------------------------
|
|
|
*/

.sb-agency-signup__description {
  max-width: 30rem;
  font-size: 0.875rem;
  color: $grey4;
  line-height: 1.3;
  margin: 0 auto;
  padding: 0;
}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
|
|
*/

.sb-agency-signup__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}