.sb-cta {
  background-color: $grey1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 24px;
  padding: 24px;

  &__text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text .sb-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__img {
    width: 100%;
  }
}
