.sb-menu,
ul.sb-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  border-bottom: 1px solid $grey2;

  &__item {
    padding: 12px;

    .sb-link {
      font-family: $font-accent-regular;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      text-decoration: none;
    }
  }

  &--small {
    justify-content: center;
    overflow: visible;

    .sb-menu__item .sb-link {
      font-family: $font-accent-regular;
      font-size: 15px;
      line-height: 15px;
      text-align: center;
    }

    .sb-menu__item--selected {
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $black;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }

    .sb-menu__item--selected .sb-link {
      font-family: $font-accent-regular-italic;
    }
  }

  &.sb-menu--fixed {
    background-color: $white;
    border-bottom: 1px solid $grey2;
    position: fixed;
    z-index: 30;
  }
}

@media screen and (max-width: $md) {
  .sb-menu__item {
    padding: 6px;
  }

  .sb-menu--small {
    .sb-menu__item .sb-link {
      font-size: 13px;
      line-height: 15px;
    }
  }
}
