.sb-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;

  .sb-link {
    padding: 12px;
  }

  .sb-link a {
    font-family: $font-accent;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: center;
    text-decoration: none;
  }

  &--header {
    justify-content: center;
    .sb-link a {
      font-family: $font-accent;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.01em;
      text-align: center;
    }

    .sb-link--selected {
      border-bottom: 2px solid $black;
    }

    .sb-link--selected a {
      font-family: $font-accent-italic;
    }
  }
}
