.db_reset_password_pop_up__,
.db_forgot_password_pop_up__{
    &wrapper {
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        & > * {
            margin: 0;
            width: 100%;
        }
    }

    &hint {
        text-align: center;
        color: #7A7A7A;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 450;
        line-height: 130%; /* 18.2px */
    }
}