.sb-popup {
  z-index: 999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.25);
  justify-content: center;
  align-items: center;
  display: none;

  &--fixed {
    position: fixed;
    display: flex;
  }

  &__wrapper {
    position: relative;
    --set-width: 100%;
    --set-height: 100%;
    background-color: $white;
    padding: 30px;
    border-radius: 8px;
    width: var(--set-width);
    height: var(--set-height);
    overflow: hidden;
    max-width: 100%;
  }

  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
    width: 100%;
    padding: 16px 16px 0 0;
    box-sizing: border-box;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
  }

  &__title {
    text-align: left;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }

  &__close {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-align: right;
    text-decoration: underline;
    color: $grey4;
    background-color: transparent;
    border: none;
  }
}
