.sb-profile-scroll {
  overflow-y: scroll;

  &__title {
    margin-bottom: 24px;
  }

  &__wrapper {
    .sb-profile {
      border-top: 1px solid $grey2;
    }
    .sb-profile:last-child {
      border-bottom: 1px solid $grey2;
    }
  }
}

@media screen and (max-width: $sm) {
  .sb-profile-scroll__title {
    font-size: 15px;
    line-height: 18px;
  }
}
