.sb-profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > .sb-title {
      font-size: 20px;
      line-height: 25px;
      text-align: left;
    }

    > .sb-link {
      text-align: right;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.03em;
    }
  }

  &__profiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $column-gap;
    grid-row-gap: 0;
  }

  .sb-profile {
    border-top: 1px solid $grey2;
  }

  .sb-profile:nth-last-child(2),
  .sb-profile:last-child {
    border-bottom: 1px solid $grey2;
  }

  &--four-columns &__profiles {
    grid-template-columns: repeat(4, 1fr);
  }
  &--four-columns {
    .sb-profile:nth-last-child(4),
    .sb-profile:nth-last-child(3) {
      border-bottom: 1px solid $grey2;
    }
  }
}

@media screen and (max-width: $sm) {
  .sb-profile-grid__header > .sb-title {
    font-size: 15px;
    line-height: 19px;
  }
  .sb-profile-grid__header > .sb-link {
    font-size: 9px;
    line-height: 11px;
  }

  .sb-profile-grid__button {
    justify-content: center;
  }
}
