.sb-video-card {
  --video-progress: 0;
  min-width: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__header {
    margin-bottom: 16px;
    width: 100%;
  }

  &__progress {
    width: 100%;
    height: 2px;
    background-color: rgba($black, 0.1);
    margin-bottom: 16px;

    &--bar {
      height: 100%;
      width: 100%;
      transition: all 0.2s;
      max-width: var(--video-progress);
      background-color: transparent;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: $grey3;
    margin: 16px 0;
  }

  &__tagged {
    width: 100%;
    display: flex;

    .sb-tagged__avatars {
      padding-right: 48px;
      position: relative;
    }

    .sb-tagged__avatars .sb-image {
      height: 24px;
      width: 24px;
      border: 1px $grey2 solid;
      border-radius: 50%;
      overflow: hidden;

      &--more {
        background-color: $black;
      }

      &--more::before {
        content: '+';
        color: $white;
        background: $black;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
      }
    }

    .sb-tagged__avatars .sb-image:not(:first-child) {
      position: absolute;
      top: 0;
    }

    $n: 6;

    @for $i from 1 through $n {
      .sb-tagged__avatars .sb-image:nth-child(#{$i}) {
        left: 12px * ($i - 1);
      }
    }

    .sb-tagged__button {
      margin-left: auto;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.03em;
    }
  }

  &__video {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }

  &--active {
    .sb-video-card__title {
      color: $black;
    }
    .sb-video-card__progress--bar {
      background-color: $black;
    }
  }
}

@media screen and (max-width: $md) {
  .sb-video-card__title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 12px 0 24px;
  }
  .sb-video-card__tagged {
    width: 100%;
    display: flex;
    .sb-tagged__avatars {
      padding-right: 40px;
    }
    .sb-tagged__avatars .sb-image {
      height: 20px;
      width: 20px;
    }
    .sb-tagged__avatars .sb-image:nth-child(2) {
      left: 10px;
    }
    .sb-tagged__avatars .sb-image:nth-child(3) {
      left: 20px;
    }

    .sb-tagged__button {
      font-size: 9px;
      line-height: 11px;
      letter-spacing: 0.03em;
    }
  }
}
