.article-card {
  display: flex;
  min-height: 453px;
  font-family: Arial, Helvetica, sans-serif;

  &--small {
    font-size: 12px;
    flex-flow: column-reverse;
  }

  &--large {
    font-size: 16px;
  }

  &--border-radius &__img {
    border-radius: 8px;
    overflow: hidden;
  }

  &__text,
  &__img {
    flex-grow: 1;
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &__text .title,
  &__text .subtitle {
    margin: 0;
  }

  &__text .title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: $black;
  }

  &__text .subtitle {
    color: $grey4;
    font-weight: 450;
    font-size: 14px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  &--small &__img {
    max-width: 211px;
    max-height: 211px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  &--large &__text {
    padding-right: 32px;
    width: 33%;

    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-align: left;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 450;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &--large &__img {
    width: 66%;
  }
}

// MEDIA QUERIES

@media screen and (max-width: $sm) {
  .article-card--large {
    font-size: 12px;
    flex-flow: column-reverse;
  }

  .article-card--large .article-card__text,
  .article-card--large .article-card__img {
    width: 100%;
  }

  .article-card--small .article-card__img {
    max-width: unset;
    max-height: unset;
  }
}
