.card {
  display: flex;
  width: 50%;
  min-height: 453px;

  &--small {
    font-size: 12px;
    padding: 10px 16px;
    flex-flow: column-reverse;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
    flex-flow: column-reverse;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
    flex-flow: column-reverse;
  }

  &__text,
  &__img {
    flex-grow: 1;
  }

  &__text .title,
  &__text .subtitle,
  &__text .subtext {
    margin: 0;
  }

  &__text .title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: $off-black;
    margin-bottom: 4px;
  }

  &__text .subtitle,
  &__text .subtext {
    color: $gray;
    font-weight: 450;
    font-size: 14px;
    line-height: 125%;
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &--border-radius &__img {
    border-radius: 8px;
    overflow: hidden;
  }

  &--medium &__img {
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  &--small &__img {
    max-width: 211px;
    max-height: 211px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  &--large &__text {
    padding-right: 32px;
    // width: 33%;

    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-align: left;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 450;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &--large &__img {
    // width: 66%;
    margin-bottom: 12px;
  }

  &--title-margin &__text .title {
    margin-bottom: 24px;
  }
}
