.footer {
  border-bottom: 1px solid rgba($black, 0.1);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  color: $white;
  padding: 40px 64px;

  .wrapper {
    display: flex;
  }

  .wrapper--top {
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__tagline,
  &__paragraph {
    max-width: 341px;
  }

  &__tagline {
    font-size: 20px;
    line-height: 25px;
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: $font-primary-light;
    font-size: 14px;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__buttons {
    margin-top: 24px;
  }
}

.wrapper {
  display: flex;
  width: 100%;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
