.pre-footer {
  padding-top: 41px;
  padding-bottom: 24px;
  border-top: 1px solid $grey3;

  &--dark {
    background-color: $charcoal;
    color: $white;

    a {
      color: $white;
    }
  }

  &--light {
    background-color: $white;
    color: $charcoal;

    a {
      color: $charcoal;
    }
  }

  &__newsletter {
    padding-right: $column-gap;
  }

  .newsletter {
    &__title {
      color: $grey3;
      margin-bottom: 16px;
      font-size: 12px;
      font-weight: 450;
      line-height: 15px;
    }

    &__email {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: $white;
      border: 1px solid $grey3;
      border-radius: 8px;
      width: 100%;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 12px 16px;
        border-radius: 8px;
      }

      button {
        position: absolute;
        background-color: transparent;
        border: none;
        white-space: nowrap;
        padding: 0 16px;
        text-decoration: underline;
        right: 1px;
        background: $white;
      }
    }
  }

  .link-group {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      font-size: 14px;
      font-weight: 450;
      line-height: 18px;
    }

    li:not(:last-child):not(.link-group__title) {
      margin-bottom: 8px;
    }

    li.link-group__title {
      color: $grey3;
      margin-bottom: 16px;
      font-size: 12px;
      font-weight: 450;
      line-height: 15px;
    }

    a {
      text-decoration: none;
    }
  }

  .copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 95px;
    color: $grey3;
  }
}
