.pre-footer {
  padding-top: 41px;
  padding-bottom: 24px;

  &--dark {
    background-color: $dark-gray;
    color: $white;

    a {
      color: $white;
    }
  }

  &--light {
    background-color: $white;
    color: $dark-gray;

    a {
      color: $dark-gray;
    }
  }

  .link-group {
    list-style: none;
    padding-left: 0;

    li {
      font-size: 14px;
      font-weight: 450;
      line-height: 18px;
    }

    li:not(:last-child):not(.link-group__title) {
      margin-bottom: 8px;
    }

    &__title {
      color: $light-gray;
      margin-bottom: 16px;
      font-size: 12px;
      font-weight: 450;
      line-height: 15px;
    }

    a {
      text-decoration: none;
    }
  }

  .copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: $gray;
  }
}
