.profile-scroll {
  overflow-y: scroll;

  &__title {
    margin-bottom: 24px;
  }

  .profile {
    border-top: 1px solid $grey2;
  }
  .profile:last-child {
    border-bottom: 1px solid $grey2;
  }
}
