:root {
  --sb-header-search__icon-size: 16px;
}

.sb-header-search {
  display: flex;
  position: relative;
  border: 1px solid $grey2;
  border-radius: 0.5rem;
  background-color: $white;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

// =============================================
// Hover
// =============================================

.sb-header-search--hovered,
.sb-header-search:hover {
  border-color: $grey4;
}

// =============================================
// Focused
// =============================================

.sb-header-search--focused {
  box-shadow: 0 0 0 1px #0095f6;
  border-color: #0095f6 !important;
}

/*
|--------------------------------------------------------------------------
| Input
|--------------------------------------------------------------------------
|
|
|
*/

.sb-header-search__input {
  display: flex;
  flex: 1;
}

.sb-header-search__input input {
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  padding: 0.75rem 0 0.75rem 1rem;
  background: transparent;
  outline: none;
  appearance: none;

  &,
  &::placeholder {
    font-family: $font-primary-book;
    font-size: 0.875rem;
    color: $grey4;
    font-weight: 450;
    line-height: 1.3;
    text-align: right;
  }

  & {
    color: $black;
  }
}

/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
|
|
|
*/

.sb-header-search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 0 0 auto;
  border: none;
  padding: 0;
  background-color: transparent;
  appearance: none;
}

.sb-header-search__button svg {
  width: var(--sb-header-search__icon-size);
  height: var(--sb-header-search__icon-size);
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: $sm) {
  .sb-header-search {
    border-radius: 0;
    width: 100%;
    flex-direction: row-reverse;
  }

  .sb-header-search__input input,
  .sb-header-search__input input::placeholder {
    text-align: left;
    padding-left: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%; /* 18.2px */
  }
}
