.container,
.section,
.grid {
  padding-left: $site-gutter;
  padding-right: $site-gutter;
}

.section .grid {
  padding-left: 0;
  padding-right: 0;
}

button {
  cursor: pointer;
}

a {
  color: $color-text;
}

a,
button {
  transition: all 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.subtitle {
  color: $color-subtext;
}
