.sb-section,
.sb-container,
.sb-grid {
  padding-left: $site-gutter;
  padding-right: $site-gutter;
  box-sizing: border-box;
}

.sb-section,
.sb-container,
.sb-grid {
  .sb-section,
  .sb-container,
  .sb-grid {
    padding-left: 0;
    padding-right: 0;
  }
}

a,
button,
.sb-button,
.sb-link {
  cursor: pointer;
}

.sb-link {
  @include link;
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

.sb-link--remove-underline {
  @include link;
  text-decoration: none;
}

.sb-title {
  @include title;
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}
.sb-subtitle {
  @include subtitle;
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

.sb-logged-off {
  position: relative;
  overflow: hidden;
  height: 175px;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, $white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.sb-font-primary {
  font-family: $font-primary-regular;

  &--ultralight {
    font-family: $font-primary-ultralight;
  }
  &--ultralight-italic {
    font-family: $font-primary-ultralight-italic;
  }
  &--thin {
    font-family: $font-primary-thin;
  }
  &--thin-italic {
    font-family: $font-primary-thin-italic;
  }
  &--light {
    font-family: $font-primary-light;
  }
  &--light-italic {
    font-family: $font-primary-light-italic;
  }
  &--regular {
    font-family: $font-primary-regular;
  }
  &--regular-italic {
    font-family: $font-primary-regular-italic;
  }
  &--book {
    font-family: $font-primary-book;
  }
  &--book-italic {
    font-family: $font-primary-book-italic;
  }
  &--medium {
    font-family: $font-primary-medium;
  }
  &--medium-italic {
    font-family: $font-primary-medium-italic;
  }
  &--semibold {
    font-family: $font-primary-semibold;
  }
  &--semibold-italic {
    font-family: $font-primary-semibold-italic;
  }
  &--bold {
    font-family: $font-primary-bold;
  }
  &--bold-italic {
    font-family: $font-primary-bold-italic;
  }
  &--black {
    font-family: $font-primary-black;
  }
  &--black-italic {
    font-family: $font-primary-black-italic;
  }
}

.sb-font-accent {
  &--regular {
    font-family: $font-accent-regular;
  }
  &--regular-italic {
    font-family: $font-accent-regular-italic;
  }
  &--medium {
    font-family: $font-accent-medium;
  }
  &--medium-italic {
    font-family: $font-accent-medium-italic;
  }
  &--bold {
    font-family: $font-accent-bold;
  }
  &--bold-italic {
    font-family: $font-accent-bold-italic;
  }
}

@media screen and (max-width: $md) {
  .sb-section,
  .sb-container,
  .sb-grid {
    padding-left: $site-gutter-md;
    padding-right: $site-gutter-md;
  }
}

@media screen and (max-width: $sm) {
  .sb-section,
  .sb-container,
  .sb-grid {
    padding-left: $site-gutter-sm;
    padding-right: $site-gutter-sm;
  }
}
