// SuisseIntl

@font-face {
  font-family: 'SuisseIntl-Book';
  src: url('../fonts/SuisseIntl/SuisseIntl-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl-SemiBold';
  src: url('../fonts/SuisseIntl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
}

// PPEiko

@font-face {
  font-family: 'PPEiko-Regular';
  src: url('../fonts/PPEiko/PPEiko-Regular.eot') format('embedded-opentype'),
    url('../fonts/PPEiko/PPEiko-Regular.otf') format('opentype'),
    url('../fonts/PPEiko/PPEiko-Regular.ttf') format('truetype'),
    url('../fonts/PPEiko/PPEiko-Regular.woff') format('woff'),
    url('../fonts/PPEiko/PPEiko-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PPEiko-RegularItalic';
  src: url('../fonts/PPEiko/PPEiko-RegularItalic.eot') format('embedded-opentype'),
    url('../fonts/PPEiko/PPEiko-RegularItalic.otf') format('opentype'),
    url('../fonts/PPEiko/PPEiko-RegularItalic.ttf') format('truetype'),
    url('../fonts/PPEiko/PPEiko-RegularItalic.woff') format('woff'),
    url('../fonts/PPEiko/PPEiko-RegularItalic.woff2') format('woff2');
  font-weight: 400;
}
