@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components/index.scss';

html {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: $font-primary;
}
