@mixin gridUtilities($size: '') {
  @if $size != '' {
    $size: $size + '-';
  }
  @for $column from 1 to $columns {
    .#{$size}span-#{$column} {
      grid-column-end: span #{$column};
    }

    .#{$size}start-#{$column} {
      grid-column-start: #{$column};
    }
  }

  .#{$size}span-full {
    grid-column: 1 / span #{$columns};
  }
  .sb-grid--5 .#{$size}span-full {
    grid-column: 1 / span #{5};
  }
  .sb-grid--6 .#{$size}span-full {
    grid-column: 1 / span #{6};
  }

  .#{$size}start-#{$columns} {
    grid-column-start: #{$columns};
  }
  .sb-grid--5 .#{$size}start-#{5} {
    grid-column-start: #{5};
  }
  .sb-grid--6 .#{$size}start-#{6} {
    grid-column-start: #{6};
  }
}

.sb-grid {
  display: grid;
  grid-template-columns: repeat($columns, minmax(0, 1fr));
  grid-row-gap: $row-gap;
  grid-column-gap: $column-gap;
  width: 100%;

  &--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  &--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.sb-flex {
  display: flex;
  &.sb-center {
    justify-content: center;
    align-items: center;
  }
}

@include gridUtilities('');

@media screen and (max-width: $lg) {
  @include gridUtilities('lg');
}

@media screen and (max-width: $md) {
  @include gridUtilities('md');
}

@media screen and (max-width: $sm) {
  @include gridUtilities('sm');

  .sb-grid {
    grid-row-gap: $row-gap-sm;
    grid-column-gap: $column-gap-sm;

    &--5 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    &--scroll {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      overflow-x: auto;
      padding-bottom: 16px;
    }

    &--scroll .sb-card .sb-card__img,
    &--scroll .sb-card .sb-card__text {
      width: 33vw;
    }


    &--scroll .sb-card .sb-card__text {
      white-space: break-spaces;
    }
  }
}
