@mixin res($width, $dir: max) {
  @if $width== 'mobile-s' {
    $width: 360;
  }
  @if $width== 'mobile' {
    $width: 692;
  }

  @if $width== 'tab-p' {
    $width: 768;
  }

  @if $width== 'tab-l' {
    $width: 1024;
  }

  @media (#{$dir}-width: $width + "px") {
    @content;
  }
}

@mixin title {
  color: $color-text;
  font-weight: 600;
}
@mixin subtitle {
  color: $color-subtext;
  font-weight: 450;
}

@mixin link {
  color: $color-text;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
