@import 'fonts';

// Colors
$black: #111111;
$charcoal: #262626;
$white: #ffffff;
$grey1: #f7f7f7;
$grey2: #e5e5e5;
$grey3: #cccccc;
$grey4: #999999;
$blue: #1ea7fd;
$red: #bb2a33;

$color-text: $black;
$color-subtext: $grey4;

// Fonts
$font-primary: 'SuisseIntl-Medium', sans-serif;
$font-primary-light: 'SuisseIntl-Light', sans-serif;
$font-primary-bold: 'SuisseIntl-Bold', sans-serif;
$font-accent: 'PPEiko-Regular', serif;
$font-accent-italic: 'PPEiko-RegularItalic', serif;

// Grid
$columns: 12;
$row-gap: 24px;
$column-gap: 24px;
$row-gap-sm: 16px;
$column-gap-sm: 16px;

// Breakpoints
$xxs: 380px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Layout
$site-gutter: 48px;
$site-gutter-md: 40px;
$site-gutter-sm: 16px;
$container-max-width: 1440px;
