@import "fonts";

// Colors
$black: #111111;
$charcoal: #262626;
$white: #ffffff;
$grey1: #f7f7f7;
$grey2: #e5e5e5;
$grey3: #cccccc;
$grey4: #999999;
$blue: #1ea7fd;
$red: #bb2a33;
$amber: #f58634;
$pink: #f290a9;
$orange: #fb893c;
$orangered: #f26b31;
$orange-amber: #ff8f1c;

$color-text: $black;
$color-subtext: $grey4;

// Fonts
$font-primary-ultralight: "SuisseIntl-Ultralight", sans-serif;
$font-primary-thin: "SuisseIntl-Thin", sans-serif;
$font-primary-light: "SuisseIntl-Light", sans-serif;
$font-primary-regular: "SuisseIntl-Regular", sans-serif;
$font-primary-book: "SuisseIntl-Book", sans-serif;
$font-primary-medium: "SuisseIntl-Medium", sans-serif;
$font-primary-semibold: "SuisseIntl-SemiBold", sans-serif;
$font-primary-bold: "SuisseIntl-Bold", sans-serif;
$font-primary-black: "SuisseIntl-Black", sans-serif;
$font-primary-ultralight-italic: "SuisseIntl-UltralightItalic", sans-serif;
$font-primary-thin-italic: "SuisseIntl-ThinItalic", sans-serif;
$font-primary-light-italic: "SuisseIntl-LightItalic", sans-serif;
$font-primary-regular-italic: "SuisseIntl-RegularItalic", sans-serif;
$font-primary-book-italic: "SuisseIntl-BookItalic", sans-serif;
$font-primary-medium-italic: "SuisseIntl-MediumItalic", sans-serif;
$font-primary-semibold-italic: "SuisseIntl-SemiBoldItalic", sans-serif;
$font-primary-bold-italic: "SuisseIntl-BoldItalic", sans-serif;
$font-primary-black-italic: "SuisseIntl-BlackItalic", sans-serif;

$font-accent-regular: "PPEiko-Regular", serif;
$font-accent-regular-italic: "PPEiko-RegularItalic", serif;
$font-accent-medium: "PPEiko-Medium", serif;
$font-accent-medium-italic: "PPEiko-MediumItalic", serif;
$font-accent-bold: "PPEiko-Bold", serif;
$font-accent-bold-italic: "PPEiko-BoldItalic", serif;

// Grid
$columns: 12;
$row-gap: 24px;
$column-gap: 24px;
$row-gap-sm: 16px;
$column-gap-sm: 16px;

// Breakpoints
$xxs: 380px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Layout
$site-gutter: 48px;
$site-gutter-md: 40px;
$site-gutter-sm: 16px;
$container-max-width: 1440px;
$card-max-width: 270px;
